<div class="card text-center">
  <div class="card-header bg-primary">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active">會員權益</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#">會員條款</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" aria-current="true" href="#">會員基本資料</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h2 class="card-title">會員權益</h2>
    <section class="vh-80">
      <div class="container py-6">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-10 col-xl-8 ">
            <table class="table">
              <thead class="table-primary">
                <td>相關權益</td>
                <td>無使用儲值金</td>
                <td>使用儲值金</td>
              </thead>
              <tbody>
                <td>票價優惠</td>
                <td>X</td>
                <td>O</td>
              </tbody>
              <tbody>
                <td>餐飲折扣</td>
                <td>X</td>
                <td>O</td>
              </tbody>
              <tbody>
                <td>線上訂票贈點數</td>
                <td>O</td>
                <td>O</td>
              </table>
              <div class="container text-center">
                <!-- 會員等級 表頭  -->
                <div class="row align-items-start text-white bg-primary">
                  <div class="col">
                    會員分級
                  </div>
                  <div class="col">
                    一般
                  </div>
                  <div class="col">
                    黃金
                  </div>
                  <div class="col">
                    白金
                  </div>
                </div>
                <!-- 會員福利 內容 -->
                <div class="row align-items-start m-0 ">
                  <div class="col">
                    分級辦法
                  </div>
                  <div class="col">
                    免費申辦
                  </div>
                  <div class="col">
                    年度有效消費金額達5,000元
                  </div>
                  <div class="col">
                    年度有效消費金額達10,000元
                  </div>
                </div>
                <div class="row align-items-start m-0">
                  <div class="col">
                    生日禮
                  </div>
                  <div class="col">
                    -
                  </div>
                  <div class="col">
                    中杯可樂、小份爆米花乙份
                  </div>
                  <div class="col">
                    免費電影票乙張
                  </div>
                </div>
                <div class="row align-items-start m-0">
                  <div class="col">
                    其他優惠
                  </div>
                  <div class="col">
                    -
                  </div>
                  <div class="col">
                    不定期獨享活動
                  </div>
                  <div class="col">
                    不定期獨享活動
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section data-controller="member-register">
        <div class="container text-center p-4">
          <div class="row align-items-center" >
            <div class="col">
              <button type="button" 
                      class="btn btn-secondary btn-lg mx-3" 
                      data-action="click->user-register#benefitsNext">
                下一步</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
