<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active">會員權益</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">會員條款</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="true" href="#">會員基本資料</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h2 class="card-title">會員權益</h2>
      <section class="vh-80">
        <div class="container py-6">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5 ">
                <table class="table">
                    <thead class="table-dark">
                      ...
                    </thead>
                    <tbody>
                      ...
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>