<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link disabled">會員權益</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" >會員條款</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="true" href="#">會員基本資料</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h2 class="card-title">會員條款</h2>
      <div class="container ">
        <div class="col-8">
          <section class="vh-80">
            <%# <%= render "terms"%> %>
          </section>
        </div>
      </div>
      
  </div>
</div>