<section data-controller="user-register">
  <div data-user-register-target="benefits" class="d-block">
    <%= render "member_benefits" %>
  </div>
  <div data-user-register-target="terms" class="d-none">
    <%= render "member_terms" %>
  </div>
  <div data-user-register-target="register" class="d-none">
    <%= render "member_register" %>
  </div>
</section>
