<div class="movie-show-showtime border boder-cerulean bg-cerulean rounded p-3" data-controller="movie-show-showtimes">
  <div class="mb-3">
    <h2 class="text-center text-Silver">場次查詢</h2>
  </div>
  <div class="btn-group w-100">
    <button type="button" class="btn btn-outline-Silver dropdown-toggle text-wrap" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
      >《<%= @movie.name%>》選擇影城</button>
    <ul class="dropdown-menu">
      <% @theater_list.each do |theater| %>
        <li class="dropdown-item bg-white text-center" 
          data-action="click->movie-show-showtimes#addShowtimeDate" 
          data-movie-show-showtimes-target="theater"
          data-movie-id="<%= @movie.id %>"
          value="<%= theater.id %>"><%= theater.name %></li>
      <% end %>
    </ul>
  </div>
  <div data-movie-show-showtimes-target="showtimeSelect" class="d-none mt-3">
    <div class="btn-group w-100">
      <button type="button" class="btn btn-outline-Silver dropdown-toggle text-wrap" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
              data-movie-show-showtimes-target="dateDropdownBtn">
      </button>
      <ul class="dropdown-menu" data-movie-show-showtimes-target="showtimeDate">
      </ul>
    </div>
    <div class="d-none border rounded mt-3" data-movie-show-showtimes-target="showtimeTable">
      <table class="table fs-5 text-center text-Silver m-0">
        <thead class="bg-Silver text-cerulean">
          <tr>
            <th>日期</th>
            <th>開始時間</th>
            <th>前往購票</th>
          </tr>
        </thead>
        <tbody data-movie-show-showtimes-target="showtime">
        </tbody>
      </table>
    </div>
  </div>
</div>
