<div class="accordion" id="accordionExample" data-controller="movie-show-showtimes">
  <h2>電影場次</h2>
  <% @theater_list.each do |theater| %>
    <h3>
      <button type="button" class="btn btn-primary"
          data-action="click->movie-show-showtimes#addShowtime"
        data-movie-show-showtimes-target="theater" 
        data-movie-id="<%= @movie.id %>"
        value="<%= theater.id %>"><%= theater.name %></button>
    </h3>
  <% end %>
  <table class="table fs-5">
    <thead class="table-primary">
      <th>影廳</th>
      <th>日期</th>
      <th>開始時間</th>
      <th>前往購票</th>
    </thead>
    <tbody data-movie-show-showtimes-target="showtimeDate">
    </tbody>
  </table>
</div>
