.movie {
  .body {
    .time {
      letter-spacing: 0.2rem;
    }

    .seat-next {
      background-color: white;
      color: var(--bs-link-color);
    }
  }

  .select {
    perspective: 200px;
    width: 80%;
    margin: auto;

    .screen {
      width: 100%;
      max-width: 600px;
      background-color: rgb(37, 41, 45);
      border: none;
      transform: rotateX(-70deg);
      box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    }
    .item {
      border: 1px solid black;
      text-align: center;
      min-width: 30px;
    }

    .seat {
      overflow-x: scroll;
      white-space: nowrap;
      .seat-grid {
        width: 600px;
        display: grid;
        row-gap: 20px;
        gap: 15px;
      }

      .item-hidden {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
      .item-alphabet {
        border: 0px solid black;
        text-align: center;
      }
      button[disabled],
      .bg-DodgerBlue {
        color: white;
      }
    }
  }
}
