<%= render "shared/nav" %>

<h1>新增座位</h1>

<div class="screen">
    銀幕位置
</div>

<br>

<div data-controller="addseat" data-id="<%= @cinema.id %>" data-maxrow="<%= @cinema.max_row %>" data-maxcolumn="<%= @cinema.max_column %>" >
    <div class="grid"></div>

    <button class="bg-primary border border-2" data-action="click->addseat#addToTable">下一步</button>
</div>
