<%= render "shared/nav" %>

<h1>新增座位</h1>

<div class="screen">
    銀幕位置
</div>

<br>

<div data-controller="addseat">
    <div class="grid">
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">1</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">2</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">3</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">4</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">5</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">6</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">7</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">8</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">9</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">10</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">11</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">12</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">13</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">14</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">15</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">16</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">17</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">18</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">19</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">20</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">21</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">22</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">23</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">24</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">25</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">26</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">27</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">28</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">29</div>
        <div class="item" data-status="not added" data-action="click->addseat#changeSeatStatus">30</div>
    </div>

    <button class="bg-primary border border-2" data-action="click->addseat#addToTable">下一步</button>
</div>
