<nav class="navbar px-2 navbar-expand-sm p-0 navbar-light justify-content-sm-around bg-cerulean text-white">
  <a class="navbar-brand  m-sm-0" href="#">
    <%= image_tag 'ruby.png' ,width:"30", height: "30" %>
    <span>寶石影城</span>
  </a>
  <button
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around m-0 "
    aria-controls="collapse"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="toggler-icon top-bar"></span>
    <span class="toggler-icon middle-bar"></span>
    <span class="toggler-icon bottom-bar"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <ul class="navbar-nav active">
      <li class="nav-item active">
        <a href="#" class="nav-link text-white p-3">影城介紹</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link text-white p-3">電影介紹</a>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to "登出", destroy_user_session_path, method: "delete", class: "nav-link text-white p-3" %>
        <% else %>
          <button class="nav-link text-white p-3" data-bs-toggle="modal" data-bs-target="#Modal">
            登入
          </button>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
