<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page">消息列表</li>
    </ol>
  </nav>
</div>
<div class="container px-lg-4p news">
  <h1 class="text-deepskyblue">影城公告</h1>
  <div class="news-list">
    <div class="d-flex flex-wrap w-100">
      <ul class="list-group list-group-flush col-12">
        <% @news.each do |news| %>
          <li class="list-group-item my-2 py-3 ps-0 ">
            <span class="bg-deepskyblue text-light p-1 fs-6 "><%= news.created_at.strftime("%Y/%m/%d") %></span>
            <span class="ms-2"><%= link_to news.title, news_path(news), class: "text-dark" %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<section class="text-center py-3">
  <%= link_to "回首頁", root_path, class: "btn btn-LightCerulean btn-lg " %>
</section>
