<h1>test push</h1>
<% if user_signed_in? %>
<%= link_to "登出", destroy_user_session_path, method: "delete" %>
<% else %>
<%= link_to "註冊", new_user_registration_path %>
<%= link_to "登入", new_user_session_path %>
<% end %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="nav.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

  <!--------- nav---------->

    <nav class="navbar navbar-expand-sm navbar-light justify-content-md-around bg-primary">
      <a class="navbar-brand" href="#">
        <img src="./img/ruby.png" width="30" height="30" alt="" />
        寶石影城
      </a>
      <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around"
        aria-controls="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav active">
          <li class="nav-item active">
            <a href="#" class="nav-link">影城介紹</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">電影介紹</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">會員專區</a>
          </li>
        </ul>
      </div>
    </nav>


  <!--------- search---------->



    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221110004.jpg"
            class="d-block w-100 h-600"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221021004.jpg"
            class="d-block w-100 h-600"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221125001.jpg"
            class="d-block w-100 h-600"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <article>
      <div class="container d-md-flex  gap-2 my-5"> 
        <div class="container search d-flex  col-7 ">
          <div class="qalist d-none d-md-block col-md-3">
            <ul class="bg-secondary">
              <li>線上定票</li>
              <li>售票公告</li>
              <li>入場須知</li>
              <li>場次查詢</li>
            </ul>
          </div>
          <div class="container col-md-9 bg-primary2 rounded-4 maimn-search">
            <div class="container search-top d-flex text-light justify-content-around">
              <p class="fs-5 py-2">快速定票</p>
              <p class="fs-5 py-2">快搜空位</p>
            </div>
            <div class="container search-middle d-grid gap-2">
              <select class="form-select" aria-label="Default select example">
                <option selected>請選擇影城</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>請選擇電影</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>請選擇日期</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>請選擇場次</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="container search-bottom d-flex text-light justify-content-around">
              <span class=" my-2 py-1 px-4 bg-primary3 " ><p>前往定票</p></span>
              <span class=" my-2 py-1 px-4 bg-primary3 " ><p>查看座位</p></span>
            </div>
          </div>
        </div>
        <div class="container new col-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><p class="fs-4">最新公告</p></li>
              <li class="breadcrumb-item active" aria-current="page">MORE</li>
            </ol>
          </nav>
          <ul class="list-group ">
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">213213</span>
            </li>
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">2313213</span>
            </li>
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">24124214</span>
            </li>
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">3213123123</span>
            </li>
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">21424</span>
            </li>
            <li class="list-group-item">
              <span class="date bg-primary text-light p-1 me-3">2022/11/22</span
              ><span class="new-text">2131244</span>
            </li>
          </ul>
        </div>
      </div>
    </article>
    
  </body>
</html>
