<div class="continer">
  <div class="d-flex ">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "後台首頁",movies_path %></li>
            <li class="breadcrumb-item active"><%= link_to "電影列表",admin_movies_path %></li>
            <li class="breadcrumb-item active" aria-current="page">新增電影</li>
          </ol>
        </nav>
      </div>
      <%= render "form", movie: @movie, url: admin_movies_path, method:"post" %>
    </div>
  </div>
</div>
</div>
