<section>
    <h2>訂單編號：<%= @order.serial %></h2> 
    <article>
      <h3>訂單金額 <%= @order.amount %></h3>
      <!-- 電影票明細 -->
      <%# <div>訂單明細： <%= @order.tickets %></div> %>
    </article>
</section>