.screen {
  width: 600px;
  padding: 10px 15px;
  text-align: center;
  background-color: #ddd;
  border: 1px solid #aaa;
}
.grid {
  width: 600px;
  background-color: #fc9;
  display: grid;
  row-gap: 20px;
  .item {
    font-size: 14px;
    color: #fff;
    background-color: #5bc0de;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
  }
}

.item:hover {
  background-color: #ff0;
}
