.container {
  .movie-list {
    .card {
      background-color: rgba(109, 138, 211, 0.156);
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    .movie-list {
      .card {
        background-color: white;
        margin-bottom: 0px;
        
        &:hover {
          background-color: rgba(109, 138, 211, 0.156);
        }
      }
      .pic {
        img {
          aspect-ratio: 2 / 3;
        }
      }
    }
  }
}
