// admin
@import "admin/movie/edit.scss";
@import "admin/seats.scss";
@import "admin/movie/index.scss";

//user
@import "bootstrap-custom.scss";
@import "nav.scss";
@import "users.scss";
@import "root.scss";
@import "theater.scss";
@import "orders.scss";
@import "ticketing/select_seats.scss";
@import "ticketing/select_tickets.scss";
@import "actiontext.scss";
@import "news.scss";
@import "login.scss";
@import "movie/index.scss";
@import "find_showtimes.scss";

button {
  all: unset;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
