.login {
  background-color: #d9e0e9;
  padding-top: 15vh;
  min-height: calc(100vh - 128px);
  .modal-content {
    width: 500px !important;
    background-color: white;
    border-radius: 5%;
  }
  .modal-footer,
  .modal-body,
  .modal-header {
    padding: 16px;
  }
}
.flash {
  .alert {
    --bs-alert-margin-bottom: 0px;
  }
}
