.login{
    background-color: #d9e0e9;
    .modal-content{
        width: 500px !important;
        margin-top: 170px;
        background-color: white;
        border-radius: 5%;
    }
    .modal-footer,
    .modal-body,
    .modal-header{
        padding: 16px;
    }
}