.member_card {
  img {
    width: 100%;
  }

  .fa-ticket {
    font-size: 1rem;
    transform: rotate(-45deg);
    margin-right: 10px;
  }

  .card-title {
    .membership_level {
      font-size: 1rem;
    }
  }

  ul {
    padding: 0px;

    li {
      margin-bottom: 10px;
      h5 {
        font-size: 1rem;
      }
    }
  }

  .btn {
    font-size: 0.5rem;
  }
}
