/*--------------search-------------*/
article {
  .search {
    min-width: 300px;

    i {
      font-size: 20px;
      margin: 0px 5px;
    }

    .search-top {
      .fs-scale {
        transform: scale(1.2);
      }
    }

    .search-middle {
      .icon {
        text-align: center;
        width: 24px;
        margin: 0px 5px;
      }

      .item {
        transition: 1s;
      }

      .item-hidden {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}
@media (max-width: 768px) {
  article {
    .search {
      background-color: #eaeaea;
    }
  }
}

/*---------------news-------------*/

.breadcrumb-item {
  a:hover {
    color: #2f96ee !important;
  }
}
.list-group {
  .list-group-item {
    border: none;
  }

  .new-text:hover {
    color: #1ea1f7;
  }
}
