<h1>使用者管理介面</h1>

<%= link_to "回首頁" , root_path %>
<p>--------------user-----------------</p>

<%= render "form" , users: @users.user %>

<p>--------------staff-----------------</p>

<%= render "form" , users: @users.staff %>

<p>--------------admin-----------------</p>

<%= render "form" , users: @users.admin %>

