<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item" ><%= link_to "影城介紹", theaters_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page"><%= @theater.name %></li>
    </ol>
  </nav>
</div>
</div>
<div data-controller="theater-map">
  <div id="map" class="vh-100" data-theater-map-target="map"></div>
</div>
