<div class="continer vh-100  text-white">
  <div class="d-flex">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "後台首頁", admin_movies_path %></li>
            <li class="breadcrumb-item" aria-current="page">
              <%= link_to "影城列表", admin_theaters_path %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">編輯影城</li>
          </ol>
        </nav>
      </div>
      <div class="container text-dark">
        <%= render "form", theater: @theater %>
      </div>
    </div>
  </div>
</div>
