<h1>使用者管理介面</h1>

<table>
  <ul>
    <tr>
      <td>操作</td>
      <td></td>
      <td>身份</td>
      <td>使用者姓名</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td> <%= link_to "編輯" , edit_user_management_path(user) %></td>
       <td> <%= link_to "刪除" , user_registration_path(user),method:"delete",data:{confirm:"確定刪除？"} %></td>
       <td> <%= user.role %></td>
       <td>  <%= user.name %></td>
      
      
    </tr>

    <% end %>
  </ul>

</table>


